<!DOCTYPE html>
<html>
    <head>
        <Title>Set Metadata</Title>
        <script src="index.js"></script>
    </head>
    <body>
        <p>Set the Metadata for the New Song</p>
        <form action="/update" method="POST">
            <input type="text" name="artist" id="artist" value={{ artist }}><br>
            <caption for="artist">Artist</caption><br>
            <input type="text" name="title" id="title" value={{ title }}><br>
            <caption for="title">Song Title</caption><br>
            <input type="hidden" name="path" id="path" value={{ path }}><br>
            <img src={{ art }} alt=""><br>
            <p>This is the cover art that will be set, a different one can be specified below</p><br>
            <input type="text" name="art" id="art" value ={{ art }}><br>
            <input type="submit" name="" id="">
        </form>
    </body>
</html>